* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.main{
    width: 100%;
    height: 100%;
    background-color: black;

}

.mainContact{
    width: 100%;
    /* height: 100%; */
}
.mainResume{
    width: 100%;
    padding-top: 80px;
    /* height: calc(100% - 90px); */
}

.buttonOffFloor{
  position:relative;
  bottom:50px;
  right:5px;

}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-attachment: fixed;
 

  }

.portfolioEdit{
    padding-top: 20px;
}

.fix{
  position: absolute;
  width: 100%;
 height: calc(100% - 60px);
  top: 60px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
}

  

.content{
    position: absolute;
     width: 100%;
    height: calc(100% - 60px);
     top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: white;

}

.overlay{
    position: absolute;
    padding-top: 15px;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
}


.imgSize{
    width: 200px;
}

#element:hover {
  transform: scale(1.01);
}

.card {
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    max-width: 800px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
  }
  .card h2 {
    margin: 0;
    padding: 0 1rem;
  }
  .card .title {
    padding: 1rem;
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }
  .card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
  .card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .card svg {
    width: 85px;
    height: 85px;
    margin: 0 auto;
  }
  
  .img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    top: 15px;
    left: 85px;
  }
  
  .card-text2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
  }
  
  path {
    fill: white;
  }
  
  .img-portada {
    width: 100%;
  }
  
  .portada {
    width: 100%;
    height: 100%;
    /* border-top-left-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
    background-image: url("/public/IMG_3270.png");
    background-position: bottom center;
    background-size: cover;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }
  
  @media (max-width: 555px) {
    .portada {
      background-image: none;
    }
  }
  /* CSS for iPad */
@media only screen
and (device-width: 768px)
and (device-height: 1024px)
and (-webkit-min-device-pixel-ratio: 1)
and (orientation: portrait) {
/* CSS styles specific to iPad portrait mode */
}

@media only screen
and (device-width: 768px)
and (device-height: 1024px)
and (-webkit-min-device-pixel-ratio: 1)
and (orientation: landscape) {
/* CSS styles specific to iPad landscape mode */
}

/* CSS for iPhone */
@media only screen
and (device-width: 375px)
and (device-height: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
/* CSS styles specific to iPhone 6/7/8 (regular) portrait mode */
}

@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
/* CSS styles specific to iPhone X/XS/11 Pro portrait mode */
}

@media only screen
and (device-width: 414px)
and (device-height: 896px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
/* CSS styles specific to iPhone XR/11/11 Pro Max portrait mode */
}

/* Add more media queries for other iPhone models or adjust existing ones based on your needs */

  
  
  